.buy__form-container {
  width: 390px;
  height: 444px;
  @media (max-width: $mobile-width-only) {
    width: 320px;
    height: 568px;
  }
}

.buy__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  padding: 72px 0;
  @media (max-width: $mobile-width-only) {
    padding: 100px 0;
  }
}

.buy__title {
  margin: 0 0 31px 0;
  padding: 0;

  font-weight: 600;
  color: #48494D;
  font-size: 25px;
  line-height: 42.5px;
  text-align: center;
}

.buy__inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: $mobile-width-only) {
   width: 288px;
  }
}

.buy__button {
  position: absolute;
  top: 20px;
  right: 20px;

  padding: 0;

  font-size: 0;

  border: 0;
  background: none;
}

.buy__close {
  padding: 0;
  margin: 0;

  border: none;
  background: transparent;
}

.buy__inputs-phone {
display: flex;
 flex-wrap: nowrap;
  flex-direction: row;
}

.buy__icon {
  position: absolute;
  padding: 26px 0 0 13px;
}

.buy__code {
  position: absolute;
  padding: 25px 0 0 24px;
  font-size: 14px;
}

.buy__input {
  height: 50px;
  width: 269px;
  font-size: 14px;
  box-sizing: border-box;
  margin: 20px 0 0 0;
  background-color: white;
  border: 1px solid rgba(44, 46, 63, 0.3);
  @media (max-width: $mobile-width-only) {
    width: 288px;
  }
}

.buy__input--invalid {
  border-color: #fe7865;
}

.buy__btn {
  width: 176px;
  min-height: 50px;
  margin-top: 21px;
  padding: 0;
  @media (max-width: $mobile-width-only) {
    width: 288px;
  }
}

.buy__close-cross:hover,
.buy__close-cross:focus {
  stroke-opacity: 100%;
}

.buy__phone {
  padding-left: 51px;
}

.buy__mail {
  padding-left: 15px;
}

.buy__pic {
  @media (min-width: $tablet-width) {
    min-width: 338px;

    background-image: url("../img/coast.jpg");
    background-color: #7d9fc5;
    background-repeat: no-repeat;
    background-size: cover;
  }
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.buy__comment {
  position: absolute;
  margin-top: 3px;

  color: #fe7865;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.63px;
  text-align: left;
}