.contacts-header__item {
  display: flex;
  flex-direction: row;
  width: 226px;
  justify-content: space-between;
  padding-top: 5px;
  margin-right: 14px;
}

.contacts-header__item a {
  color: #FE7865;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  text-decoration-line: underline;
}