.footer {
  margin-bottom: 75px;
}

.footer__contacts {
  max-width: 270px;
  margin: 0 auto;
}

.footer__corporate-trips {
  max-width: 320px;
  margin-left: auto;

  @media (max-width: $tablet-width-only) {
    max-width: 100%;
    margin: 0;
    align-items: center;
  }
}

.footer__list {
  width: 100%;
}

.footer__info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 67.82%;
  @media (max-width: $tablet-width-only) {
    width: 100%;
  }
  @media (max-width: $tablet-width-only) {
    flex-direction: column;
  }
}
