.footer {
  margin-bottom: 75px;
}

.footer__contacts {
  margin-right: 44px;
  margin-left: 90px;
  max-width: 270px;
}

.footer__corporate-trips {
  max-width: 320px;
  margin-left: auto;
}

.footer__list {
  margin-right: auto;
}