.form-container {
  margin-top: 138px;
  margin-bottom: 170px;
  margin-left: 12px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  min-height: 455px;

  background-image: url("../img/sunset.jpg");
  background-repeat: no-repeat;
}

.form-container__pic {
  margin-left: 12px;
}

.form-container__content {
  position: absolute;
  width: 100%;
  margin-left: 26.8%;
}
