.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 656px;
  min-height: 315px;
  padding: 20px 20px;
  box-sizing: border-box;

  background-color: white;
  box-shadow: 4px 4px 8px -2px rgba(128, 128, 128, 0.3);

  @media (max-width: $tablet-width-only) {
    max-width: 658px;
    min-height: 311px;
    margin: 0 auto;
  }
}

.form__title {
  margin: 29px 0 0;
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  text-align: center;
  color: #141517;
}

.form__text {
  margin: 13px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #141517;
}

.form__btn {
  width: 176px;
  height: 50px;
  margin-top: 18px;
  padding: 0;
  @media (max-width: $tablet-width-only) {
    width: 250px;
    margin-top: 10px;
  }
}

.form__icon {
  position: absolute;
  padding: 6.25px 0 0 15px;
}

.form__inputs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 557px;
}

.form__code {
  position: absolute;
  padding: 12px 0 0 26px;
  font-size: 14px;
}

.form__input {
  height: 50px;
  width: 269px;
  font-size: 14px;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid rgba(44, 46, 63, 0.3);
}

.form__input--invalid {
  border-color: $accentColor;
}

.form__label {
  margin: 9px 0;
  display: flex;
  flex-direction: column;
}

.form__phone {
  padding-left: 52px;
  margin-right: 19px;
}

.form__mail {
  padding-left: 15px;
}

.form__comment {
  position: absolute;
  margin-top: -16px;

  color: $accentColor;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.63px;
  text-align: left;
}