.form-container {
  margin-top: 138px;
  margin-bottom: 170px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.form-container__pic {
  margin-left: 12px;
}

.form-container__content {
  position: absolute;
  margin-left: 528px;
}
