.form-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  height: 455px;
  margin-top: 138px;
  margin-bottom: 170px;
  margin-left: 12px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/sunset.jpg");
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/sunset@2x.jpg");
      background-size: 768px auto;
    }
  }

  @media (max-width: $tablet-width-only) {
    height: 455.59px;
    margin: 122px auto 80px;
    max-width: 768px;
  }
  @media (max-width: $mobile-width-only) {
    margin: 0;
  }
}

.form-container__pic {
  margin-left: 12px;
}

.form-container__content {
  position: absolute;
  width: 656px;
  margin: 0 0 0 26.8%;
  @media (max-width: $tablet-width-only) {
    position: relative;
    margin: 0 auto;
    width: 658px;

  }
}
