.intro__bg {
  background-image: url("../img/bg-back-desktop.jpg");
  background-repeat: no-repeat;
  min-height: 850px;
  background-size: cover;
}

.intro__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 183px;
  margin-left: 55.9%;;
  width: 392px;
}

.intro__title,
.intro__description,
.intro__button {
  margin: 0;
}

.intro__title {
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: -1.10667px;
  color: white;
  padding-bottom: 27px;
}

.intro__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: -0.466667px;
  color: white;
  padding-bottom: 34px;
}

.intro__button {
  width: 339px;
  height: 74px;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  text-align: left;
  letter-spacing: 2px;
  border: 0;
  background-color: #FE7865;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 36px 36px 36px 41px;;
}

.intro__arrow {
  margin-left: 120px;
}