.intro {
  @media (min-width: $desktop-width) {
    margin-bottom: 494px;
  }
  @media (max-width: $tablet-width-only) {
    margin-bottom: 165px;
  }
  @media (max-width: $mobile-width-only) {
    margin-bottom: 0;
  }
}

.intro__bg {
  background-size: cover;
  background-color: #7d9fc5;
  background-repeat: no-repeat;

  @media (min-width: $desktop-width) {
    min-height: 860px;
  }

  @media (max-width: $tablet-width-only) {
    min-height: 344px;
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/bg-back-desktop.jpg");
  }

  @media (max-width: $mobile-width-only) {
    min-height: 235px;
    background-image: url("../img/bg-back-mobile.jpg");
  }
}

.intro__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 392px;
  padding-top: 186px;
  margin-left: 55.83%;
  margin-right: 7.69%;

  @media (min-width: $desktop-width) {
    margin: -860px 0 0 0;
    left: 55.8%;
    position: relative;
  }
  @media (max-width: $tablet-width-only) {
    align-items: center;
    padding-top: 60px;
    margin: -345px auto 0;
    min-width: 398px;
  }
  @media (max-width: $mobile-width-only) {
    min-width: 320px;
    height: 352px;
    padding-top: 82px;
    margin-top: -235px;
  }
}

.intro__title,
.intro__description,
.intro__button {
  margin: 0;
}

.intro__title {
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;

  color: white;

  @media (min-width: $desktop-width) {
    padding-bottom: 29px;
    padding-left: 8px;

    letter-spacing: -1.10667px;
  }

  @media (max-width: $tablet-width-only) {
    padding-bottom: 15px;

    font-size: 30px;
    line-height: 45px;
  }

  @media (max-width: $mobile-width-only) {
    max-width: 294px;

    font-size: 24px;
    line-height: 36px;
    padding: 0;
    text-align: center;
  }
}

.intro__description {
  padding-bottom: 34px;

  font-weight: 400;
  font-size: 16px;
  line-height: 27.2px;
  letter-spacing: -0.466667px;
  text-align: left;
  color: white;

  @media (max-width: $tablet-width-only) {
    text-align: center;
    padding-bottom: 10px;
  }

  @media (max-width: $mobile-width-only) {
    max-width: 288px;
    padding-top: 102px;
    padding-bottom: 20px;
    color: $darkColor;
  }
}

.intro__button {
  width: 339px;
  min-height: 74px;
  padding: 30px 38px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $tablet-width-only) {
    width: 250px;
    min-height: 50px;
    padding: 10px 40px;
  }

  @media (max-width: $mobile-width-only) {
    width: 288px;
  }
}

.intro__button svg {
  fill: none;
  stroke: #ffffff;
  stroke-width: 2px;
}