.main-nav__list {
  display: flex;
  flex-direction: row;
  width: 228px;
  justify-content: space-around;
  padding-top: 5px;
/*  @media (max-width: $mobile-width-only) {
    display: flex;
    flex-direction: column;
  }*/
}