.main-nav {
  @media (max-width: $tablet-width-only) {
    width: 320px;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: row;
  min-width: 228px;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  @media (max-width: $tablet-width-only) {
    display: flex;
    flex-direction: column;
    margin-top: 133px;
  }
}

.main-nav__wrapper {
  @media (max-width: $tablet-width-only) {
    height: 568px;
    width: 320px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    background-color: #ffffff;
  }
}

.main-nav--closed .main-nav__wrapper {
  @media (max-width: $tablet-width-only) {
    display: none;
  }
}

/*
Кнопка открытия-закрытия меню
*/
.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;

  width: 72px;
  height: 50px;
  cursor: pointer;
  border: none;
  @media (min-width: $desktop-width) {
    display: none;
  }
  @media (max-width: $mobile-width-only) {
    width: 50px;
  }
}

.main-nav--closed .main-nav__toggle {
  background-color: $accentColor;
}

.main-nav--opened .main-nav__toggle {
  background-color: transparent;
}

.main-nav__toggle-menu {
  fill: #ffffff;
}

.main-nav__toggle-cross {
  margin-left: 22px;

  fill: rgba(20, 21, 23, 0.2);
}

.main-nav__toggle-cross,
.main-nav__toggle-menu {
  &:hover {
    fill-opacity: 0.6;
  }

  &:active {
    fill-opacity: 0.3;
  }
}

.main-nav--closed .main-nav__toggle-cross {
  display: none;
}

.main-nav--opened .main-nav__toggle-menu {
  display: none;
}

/*
no-JS
*/
@media (max-width: $tablet-width-only) {
  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--nojs .main-nav__list {
    display: block;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }
}

.main-nav--nojs .nav-list__item {
  display: block;
}