.main-nav__list {
  display: flex;
  flex-direction: row;
  min-width: 228px;
  justify-content: space-around;
  margin: 0;
  padding: 0;
/*  @media (max-width: $mobile-width-only) {
    display: flex;
    flex-direction: column;
  }*/
}