.nav-list__item {
  list-style: none;
  margin-right: 43px;
  padding: 0;
  @media (max-width: $tablet-width-only) {
    margin: 0 0 30px;
  }
}

.nav-list__item a {
  color: $darkestColor;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  @media (max-width: $tablet-width-only) {
    display: block;
    padding: 16px;

    color: #48494D;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    text-align: left;

    background-color: #FBF8F8;
  }
}

.nav-list__item a:hover,
.nav-list__item a:focus {
  color: $accentColor;
  cursor: default;
}