.nav-list__item {
  list-style: none;
  margin-right: 43px;
  padding: 0;
}

.nav-list__item a {
  color: #141517;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.nav-list__item a:hover,
.nav-list__item a:focus {
  color: $accentColor;
  cursor: default;
}