.nav-list__item {
  list-style: none;
  margin-right: 43px;
  padding: 0;
  @media (max-width: $tablet-width-only) {
    margin: 0;
  }
}

.nav-list__item a {
  color: #141517;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  @media (max-width: $tablet-width-only) {
    display: block;
    padding: 7px;

    text-align: left;

    background-color: #FBF8F8;
  }
}

.nav-list__item a:hover,
.nav-list__item a:focus {
  color: $accentColor;
  cursor: default;
}