.page-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 195px;
  max-width: 1148px;
}

.page-footer__column {
  display: flex;
  flex-direction: column;
}

.page-footer__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  text-align: left;
  color: #141517;
  margin: 0 0 14px 0;
}

.page-footer__text {
  padding: 0;
  margin: 8px 0 0;

  color: rgba(20, 21, 23, 0.5);
  font-weight: 400;
  font-size: 14px;
  line-height: 23.8px;
  text-align: left;
}

.page-footer__item a {
  color: rgba(20, 21, 23, 0.5);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
}

.page-footer__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  max-height: 142px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-footer__next {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 34.19%;
}

.page-footer__contacts {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 33.9%;
  box-sizing: border-box;
  padding-left: 50px;
}

.page-footer__next:after,
.page-footer__contacts:after {
  content: " ";
  min-width: 1px;
  height: 100%;
  background-color: #D7D9DF;
}

.page-footer__content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 5px;
}

.page-footer__email {
  margin-bottom: 5px;

  color: $accentColor;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  text-decoration: underline;
}

.page-footer__tel {
  color: $accentColor;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-align: left;
  text-decoration: underline;
}

.page-footer__info {
  width: 32.18%;
  box-sizing: border-box;
  padding-left: 12px;
}

.page-footer__columns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.page-footer__icon {
  margin-right: 13px;
}