.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 99px;
}

.page-header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.page-header__logo {
  padding-top: 10px;
}
