.page-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 195px;
  width: 1148px;
}

.page-footer__column {
  display: flex;
  flex-direction: column;
}

.page-footer__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  text-align: left;
  color: #141517;
  margin: 0 0 15px 0;
}

.page-footer__text {
  padding: 0;
  margin: 8px 0 0;
  width: 320px;

  color: rgba(20, 21, 23, 0.5);
  font-weight: 400;
  font-size: 14px;
  line-height: 23.8px;
  text-align: left;
}

.page-footer__item a {
  color: rgba(20, 21, 23, 0.5);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  margin-right: 52px;
}

.page-footer__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 142px;
  width: 350px;
}

.page-footer__next {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.page-footer__contacts {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.page-footer__next:after,
.page-footer__contacts:after {
  content: " ";
  min-width: 1px;
  height: 100%;
  background-color: #D7D9DF;
}

.page-footer__mail,
.page-footer__phone {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 270px;
  margin-top: 5px;
}

.page-footer__email {
  margin-bottom: 7px;
  margin-left: 16px;

  color: #fe7865;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  text-decoration: underline;
}

.page-footer__tel {
  color: #fe7865;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-align: left;
  text-decoration: underline;
  margin-left: 12px;
}

.page-footer__info {
  width: 320px;
  margin-left: 49px;
}
