.places {
  margin-top: 199px;
}

.places__rectangle {
  width: 228.5px;
  height: 4px;
  background-color: #fe7865;
}

.places__header {
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: -1.25px;
  text-align: left;

  margin: 0;
  padding-bottom: 29px;
}

.places__title {
  width: 328px;
}

.places__instruction {
  margin: 32px 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.47px;
  text-align: left;
  color: rgba(44, 46, 65, 0.7);
}
