.places-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 24px;
}

.places-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 430px;
}

.places-list__pic {
  width: 100%;
  height: 100%;
}

.places-list__mask {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 21, 23, 0.6);
}

.places-list__a {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  width: 350px;
  height: 430px;
}

.places-list__details {
  color: white;
  text-transform: uppercase;
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17.07px;
  text-align: center;
  background-color: transparent;
}
.places-list__frame {
  width: 266px;
  height: 77px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.places-list__a:hover .places-list__mask {
  display: flex;
  justify-content: center;
  align-items: center;
}

.places-list__item--frame {
  padding: 0 60px;
}

.places-list__item--bottom {
  margin-bottom: 100px;
}

.places-list__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  width: 215px;
  height: 61px;
  background-color: white;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: absolute;
}