.places-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.places-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.places-list__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  width: 215px;
  height: 61px;
  background-color: white;
  margin: -61px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.places-list__item--frame {
  padding: 0 59px 164px 60px;
}

.places__rectangle {
  width: 228.5px;
  height: 4px;
  background-color: #fe7865;
}

.places__header {
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: -1.25px;
  text-align: left;

  margin: 0;
  padding-bottom: 29px;
}

.places__title {
  width: 328px;
}

.places__instruction {
  margin: 30px 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.47px;
  text-align: left;
  color: rgba(44, 46, 65, 0.7);
}