.places-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.places-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.places-list__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  width: 215px;
  height: 61px;
  background-color: white;
  margin: -61px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.places-list__item--frame {
  padding: 0 59px 164px 60px;
}

.places__rectangle {
  width: 228.5px;
  height: 4px;
  background-color: #fe7865;
}