/*.popup-buy {
  display: none;

  position: fixed;
  z-index: 2;
  margin: 0 auto;
  bottom: 40%;
  left: 0;
  right: 0;

  width: 728px;
  height: 444px;

  font-size: 25px;
  font-weight: 400;
  text-align: center;
  line-height: 42.5px;

  background-color: #FBF8F8;
}

.popup-buy__show {
  display: flex;
}*/
