.popup {
  display: none;

  z-index: 2;
  margin: 0 auto;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  max-width: 728px;
  min-height: 444px;

  font-size: 25px;
  font-weight: 400;
  text-align: center;
  line-height: 42.5px;

  background-color: #FBF8F8;
}

.popup__show {
  display: flex;
}
