.prices {
  display: flex;
  flex-direction: column;
  max-width: 370px;
  height: 672px;
  box-sizing: border-box;
  padding: 40px 30px 30px;
  margin-right: 30px;

  box-shadow: 0 0 0 1px rgba(35, 37, 50, 0.3);
  border-radius: 6px;
}

.prices__header {
  display: flex;
  flex-direction: column;
}

.prices__title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  justify-content: space-between;
  align-items: center;
  margin: 0;

  padding-bottom: 40px;
  color: rgba(20, 21, 23, 0.7);
}

.prices:hover,
.prices:focus {
  box-shadow: 0 0 0 3px $accentColor;

  & .prices__check {
    color: $accentColor;
  }

  & .prices__check {
    fill: #141517;
  }

  & .prices__name, .prices__sum {
    color: $accentColor;
  }

  & .prices__header:after  {
    background-color: $accentColor;
  }
}

.prices__name {
  margin: 0;

  color: rgba(20, 21, 23, 0.7);
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  text-align: left;
  letter-spacing: -1.27px;
}

.prices__sum {
  color: rgba(20, 21, 23, 0.7);
  font-weight: 700;
  font-size: 25px;
  line-height: 34px;
  text-align: right;
}

.prices__meet {
  margin: 0;
  max-width: 90%;
  align-self: flex-start;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}

.prices__header:after {
  content: " ";
  margin-top: 26px;
  max-width: 310px;
  height: 1px;
  background-color: rgba(44, 46, 63, 0.3);
}

.prices__icon-box {
  width: 22px;
  height: 22px;
  display: flex;
  margin-right: 7px;
}

.prices__check {
  fill: $accentColor;
}

.prices__btn {
  max-width: 310px;
  margin-top: auto;
  padding: 30px;
}

.prices__items {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  max-width: 310px;

  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-align: left;
  padding-bottom: 15px;
}

.prices__text {
  max-width: 280px;
}

.prices__features {
  list-style: none;
  margin: 0;
  padding: 32px 0 11px 0;
}

/*
.prices__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}*/
