.success__description {
  padding: 179px 164px;
  margin: 0;
}

.success__button {
  position: absolute;
  top: 20px;
  right: 20px;

  padding: 0;

  font-size: 0;

  border: 0;
  background: none;
}

.success__close {
  padding: 0;
  margin: 0;

  border: none;
  background: transparent;
}


.success__close-cross:hover,
.success__close-cross:focus {
  stroke-opacity: 100%;
}