.tab-content {
  display: none;
  border: none;
  margin-top: 77px;
  flex-direction: row;
  flex-wrap: nowrap;
  @media (max-width: $tablet-width-only) {
    flex-direction: column;
  }
}

.tab-content__info {
  display: flex;
  flex-direction: column;
  width: 470px;

  text-align: left;

  @media (max-width: $tablet-width-only) {
    text-align: center;
  }
}

.tab-content__title {
  font-weight: 600;
  font-size: 55px;
  line-height: 90px;
  letter-spacing: -1.25px;
  margin: 0;
  padding: 13px 0;

  @media (max-width: $tablet-width-only) {
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0;
  }
}

.tab-content__title:after {
  content: " ";
  display: block;
  width: 175px;
  height: 3px;
  margin: 15px 0;

  background-color: $accentColor;

  @media (max-width: $tablet-width-only) {
    display: none;
  }
}

.tab-content__description {
  margin: 0;
  padding-bottom: 48px;
  width: 375px;

  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.47px;
  color: rgba(44, 46, 65, 0.7);

  @media (max-width: $tablet-width-only) {
    font-size: 16px;
    line-height: 28px;
  }
}

.tab-content__btn {
  width: 250px;
  min-height: 75px;
}

.tab-content__review {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
