.tab-content {
  display: none;
  border: none;
  margin-top: 77px;
  flex-direction: row;
}

.tab-content__info {
  display: flex;
  flex-direction: column;
  width: 470px;
}

.tab-content__title {
  font-weight: 600;
  font-size: 55px;
  line-height: 90px;
  letter-spacing: -1.25px;
  margin: 0;
  padding: 13px 0;
}

.tab-content__rectangle {
  width: 175px;
  height: 3px;
  background-color: #fe7865;
}

.tab-content__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.47px;
  margin: 0;
  color: rgba(44, 46, 65, 0.7);
  padding-top: 32px;
  padding-bottom: 48px;
  width: 375px;
}

.tab-content__btn {
  width: 250px;
  height: 75px;
}

.tab-content__review {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 270px;
}
