.tabs {
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.tabs__links {
  padding: 18px 98px 14px 0;

  color: rgba(44, 46, 63, 0.3);
  font-weight: 500;
  font-size: 20px;
  line-height: 24.38px;
  letter-spacing: 1.59px;

  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
}

.tabs__links--active {
  color: #FE7865;
}

.tabs__links:focus {
  border: 1px solid #2C2E3F;
}
