.tabs {
  overflow: hidden;
}

.tabs__rectangle {
  background-color: rgba(44, 46, 63, 0.3);
  width: 899px;
  height: 1px;
  }

.tabs__links {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 19px 96px 13px 1px;

  color: rgba(44, 46, 63, 0.3);
  font-weight: 500;
  font-size: 20px;
  line-height: 24.38px;
  letter-spacing: 1.59px;
}

.tabs button:hover {
  color: #FE7865;
}

.tabs__links--active {
  color: #FE7865;
}
