.trips__rectangle {
  background-color: rgba(44, 46, 63, 0.3);
  width: 899px;
  height: 1px;
}

.trips {
  margin-top: 79px;
}

.trips__bg {
  background-image: url("../img/map.png");
  background-position-x: 50%;
  background-position-y: -43%;
  background-repeat: no-repeat;
}